body{
	background-color:#f8f8f8;
}
div h1{
	text-align:center;
	padding:5px;
	margin:10px;
}
.book-library{
	background-color:#ffffff;
	text-align:center;
	padding:15px;
}
.author{
	color:#777777;
	text-align:left;
}
h2{
	text-align:left;
}
.price{
	background-color:#2ecc71;
	text-align:center;
	padding:5px;
	border-radius:2px;
}
